# Node.js
node_modules/

# Archivos de configuración
.env

# Archivos de registro y salida
*.log
*.xml
*.txt
*.xlsx
*.py
*.png
# Dependiendo de tu entorno y configuración, puedes agregar más patrones según sea necesario.
preentradas/
TTEAgencias/

